<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <p style="color: #ff0000;text-align: center;font-size: 80px;"><b>404</b></p>
        <p style="color: #FF0022; text-align: center;font-size: 40px">Trang bạn yêu cầu không tồn tại</p>
    </div>
</div>
</body>
</html>