<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <p style="color: #ff0000;text-align: center;font-size: 80px;"><b>Lỗi hệ thống!</b></p>
        <p style="color: #ff3200; text-align: center;font-size: 40px">Bạn vui lòng thử lại sau hoặc liên hệ đến chúng tôi</p>
        <P style="color: #59BAB8; text-align: center;font-size: 40px">Email: xuantinfx@gmail.com</P>
    </div>
</div>
</body>
</html>