<!DOCTYPE html>
<html>
<head>
	<title>Trang chu</title>
	
</head>
<body>
	<p>Chào <%=user%></p>
	<a href="/admin/danh-sach-sv">
		<button>Danh sách Sinh Viên</button>
	</a>
	<br>
	<a href="/admin/danh-sach-ad">
		<button>Danh sách Admin</button>
	</a>
	<br>
	<a href="/admin/danh-sach-hd">
		<button>Danh sách Hoạt động</button>
	</a>
	<br>
	<a href="/admin/danh-sach-dvpt">
		<button>Danh sách đơn vị phụ trách</button>
	</a>
	<br>
	<a href="/admin/danh-sach-lhd">
		<button>Danh sách loại hoạt động</button>
	</a>
	<br>
	<a href="/admin/danh-sach-khoa">
		<button>Danh sách Khoa</button>
	</a>
	<br>
	<a href="/admin/danh-sach-tlsv">
		<button>Danh sách trợ lý sinh viên</button>
	</a>
</body>
</html>